<?php
use App\Models\Collections\ProductsCollection;

/** @var ProductsCollection $products */
?>
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block content %} {% endblock %}

</body>
</html>